# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print('â˜†â‹†ï½¡ð–¦¹Â°â€§â˜… Dinorah Garcia Vasquez â˜†â‹†ï½¡ð–¦¹Â°â€§â˜…')

â˜†â‹†ï½¡ð–¦¹Â°â€§â˜… Dinorah Garcia Vasquez â˜†â‹†ï½¡ð–¦¹Â°â€§â˜…

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('data/listings.csv', sep=',')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50â€™ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
less_than_hundred = df['price'] < 100
result = df [less_than_hundred]
result.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
bk = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[bk]
df_bk.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
c1 = df['neighbourhood_group'] == 'Brooklyn'
c2 = df['price'] < 100
bkresult = df[c1 & c2]
bkresult.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
names = ['Michael', 'David', 'John', 'Daniel']
condition = df.host_name.isin(names)
df[condition]['host_name'].value_counts()

Michael    387
David      348
John       270
Daniel     253
Name: host_name, dtype: int64

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
c1 = df["neighbourhood"]== "Williamsburg"
df["adjusted_price"] = np.where(c1, df["price"] + 100, df["price"])

#check
show_Williamsburg = df[c1]
show_Williamsburg.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared. 
#print("Private Room:",(df["room_type"]=="Private room").mean() * 100)
#print("Shared Room:",(df["room_type"]=="Shared room").mean() * 100)
rtype = ["Private room","Shared room"]
condition = df.room_type.isin(rtype)
df[condition]['room_type'].value_counts(normalize=True)

Private room    0.955402
Shared room     0.044598
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
l = df.groupby("neighbourhood_group")
print(l["calculated_host_listings_count"].sum())

neighbourhood_group
Bronx              2619
Brooklyn          45790
Manhattan        180430
Queens            44534
Staten Island       692
Name: calculated_host_listings_count, dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
price = df.groupby("neighbourhood_group")
print(price["price"].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
rt = df.groupby("room_type")
print(rt["price"].mean())

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
prices = df.groupby('neighbourhood_group')
print(price['price'].agg( ['min', 'max']))

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
rn = ["room_type",'neighbourhood_group']
mean_rn = df.groupby(rn)
print(mean_rn["price"].mean())

room_type        neighbourhood_group
Entire home/apt  Bronx                  138.004819
                 Brooklyn               171.587687
                 Manhattan              231.335572
                 Queens                 150.168900
                 Staten Island          151.720930
Hotel room       Brooklyn               147.300000
                 Manhattan              292.515670
                 Queens                 139.058824
Private room     Bronx                   68.419668
                 Brooklyn                71.291189
                 Manhattan              128.277069
                 Queens                  69.972564
                 Staten Island           70.312883
Shared room      Bronx                   66.391304
                 Brooklyn                57.870091
                 Manhattan              111.735084
                 Queens                  89.891892
                 Staten Island           46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
print(mean_rn["price"].agg(['min', 'max','mean','median','std','count']))

                                     min    max        mean  median  \
room_type       neighbourhood_group
Entire home/apt Bronx                 25   1404  138.004819     103
                Brooklyn              20  10000  171.587687     135
                Manhattan              0  10000  231.335572     165
                Queens                10  10000  150.168900     115
                Staten Island         39   1200  151.720930     111
Hotel room      Brooklyn               0    399  147.300000     129
                Manhattan              0   2211  292.515670     210
                Queens                 0    249  139.058824     149
Private room    Bronx                 16    700   68.419668      55
                Brooklyn              10   2500   71.291189      60
                Manhattan             10  10000  128.277069      80
                Queens                18   9000   69.972564      55
                Staten Island         20    800   70.312883      55
Shared room     Bronx                 20    800   66.391304      44
                Brooklyn              15   1500   57.870091      36
                Manhattan             10  10000  111.735084      60
                Queens                14   3000   89.891892      40
                Staten Island         19     82   46.000000      38

                                            std  count
room_type       neighbourhood_group
Entire home/apt Bronx                126.032106    415
                Brooklyn             236.732843   9112
                Manhattan            410.306439  12209
                Queens               252.606739   2090
                Staten Island        147.518392    172
Hotel room      Brooklyn              91.153206     30
                Manhattan            315.924085    351
                Queens                50.743806     17
Private room    Bronx                 57.337866    722
                Brooklyn              69.023165   9159
                Manhattan            448.677306   7601
                Queens               163.814468   3499
                Staten Island         70.759593    163
Shared room     Bronx                114.442703     46
                Brooklyn              92.217618    331
                Manhattan            502.728868    419
                Queens               275.675158    185
                Staten Island         28.446441      6

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`
dfprices = pd.read_csv('data/prices.csv', sep=",")
dflistings = pd.read_csv('data/n_listings.csv', sep=";")

In [17]:
# 2. Do join that keeps all the records for each table.
dfjoined = pd.merge(dfprices, dflistings, on='neighbourhood_group', how='left')
save_as = 'joined.csv'
dfjoined.to_csv(save_as, index=False)

In [18]:
dfj = pd.read_csv('data/joined.csv', sep=",")
dfj

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

Basically, PandasAI mixes Pandas and OpenAI (you need to pay a key) for it to analyze your dataframe. Instead of coding to find "which countries have the happiest people" you just type the question, and the AI analyzes it for you.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

PandasGUI allows you to see dataframes by using a graphical user interface. 

Install it by typing pip install pandasgui on your terminal.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years and add them all into one data frame using pandas.